# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/

#Nest Dev account.
nest_client_id: XXXXXXXXXXXXXXXXXXXXXXXXX
nest_client_secret: XXXXXXXXXXXXXXXXXXXXXXX


#API for contolling printer, with RW access.
ocotprint_url: 'https://google.com'
ocotprint_api: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ocotprint_hostname: XXXXX

#Access Codes for Vizio TV IP Controll
BedroomTV_IP: 192.168.0.11
BedroomTV_Token: XXXXXXX
LivingRoomTV_IP: 192.168.0.10
LivingRoomTV_Token: XXXXXXXX

#Node Red
node_red_credential_secret: yB.INveHDOtex46Imp


#Zone Locations
brett_work_1_name: GOOGLE
brett_work_1_latitude: 37.422042 
brett_work_1_longitude: -122.084261
brett_work_2_name: APPLE
brett_work_2_latitude: 37.334562 
brett_work_2_longitude: -122.009490

#Protect Home Locaiton for Github Reasons
home_latitude: 38.896532 
home_longitude: -77.036712
home_elevation: 5280

#Xbox
xbox_api: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
dai_xuid: XXXXXXXXXXXXXX

#Dark Sky
dark_sky_api: XXXXXXXXXXXXXXXXXXXXXXXxx


#HTTP Stuff
http_base_url: https://google.com:8123
ssl_certificate: fullchain.pem
ssl_key: privkey.pem

#WOL Stuff
WOL_1_host: 192.168.0.10
WOL_1_mac: "D5:02:0D:26:8A:D8" #Generated Fake Mac


#Unifi Stuff
main_ssid: 'XXXXXX'

#Remote (Broadlink) Stuff
broadlink_host: 192.168.0.10
broadlink_mac: "8C:EC:93:E9:3D:61" #Generated Fake Mac

#ESPHome Passwords
not_ssid: XXXXXXXXX
not_password: XXXXXXXXX
esp_ap_password: XXXXXXXX
esp_ota_password: XXXXXXXXXX
esp_api_password: XXXXXXXXXXXXX

not_gateway: 192.168.0.1
not_subnet: 192.168.0.0/28
not_dns: 192.168.0.1

#InfluxDB
influxdb_password: XXXXXXXXXXX

#Home Alarm
alarm_code: 0000
